/* ProductGridItem.css */

.product-grid-item {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .product-grid-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: rgb(255,255,255);
    background: linear-gradient(30deg, rgba(255,255,255,1) 0%, rgba(254,237,230,1) 95%);
  }
  
  .product-link {
    text-decoration: none;
    color: inherit;
  }
  
  .product-info {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .product-name {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333333;
  }
  
  .product-description {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #666666;
    margin-bottom: 10px;
  }
  
  .product-tags {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product-tag {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #666666;
    margin-right: 5px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
  }
  
  .product-tag:hover {
    background-color: #e0e0e0;
  }
  