.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

.product-grid {
    margin: 20px;
  }

  .product-grid-title {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
    border-bottom: 1px inset #d8e1ec
  }