/* UserProfile.css */
.profile-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-header {
    text-align: center;
  }
  
  .profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .profile-name {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-stats {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .profile-stat {
    text-align: center;
  }
  
  .stat-label {
    font-size: 16px;
    color: #666;
    margin: 5px;
  }
  
  .stat-value {
    font-size: 17px;
    font-weight: bold;
    color: #333;
    margin-top: 5px; /* Añadimos un poco de margen arriba */
  }
  
  .follow-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
 
  .follow-button:hover {
    background-color: #0056b3;
  }

  .followed-button {
    position: relative;
    padding: 10px 20px;
    background-color: #fcfcfc;
    color: #d86161;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    overflow: hidden;
    border: 1px solid transparent;
    
  }

  .followed-button::after {
    content: "Unfollow"; /* Nuevo texto que aparecerá en hover */
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #feb6b0; /* Color de fondo al hacer hover */
    color: #7f1d1d; /* Color del texto al hacer hover */
    line-height: 42px; /* Ajusta la línea a la altura del botón para centrar verticalmente el texto */
    text-align: center; /* Centra el texto horizontalmente */
    border-radius: 5px; /* Mantiene el radio del borde del botón */
    opacity: 0; /* Inicia invisible */
    transition: opacity 0.3s ease; /* Transición suave para la opacidad */
  }
  
  .followed-button:hover::after {
    opacity: 1; /* Hace visible el texto al hacer hover */
  }
  
  .followed-button:hover {
    color: transparent; /* Hace el texto original transparente para mostrar solo el texto del pseudoelemento */
  }
  

  