body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: inset 0 -.5px 0 0 #d7d7d7;
    height: 64px;
    padding: 0 20px;
    justify-content: space-between;
}

.navbar .logo a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    font-size: 1em;
    font-size: 16px;
    line-height: 24px;
    color: #4b587c;
}

.nav-links a:hover {
    color: #e48648;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu, .login {
    display: flex;
    align-items: center;
}

.menu {
    flex-grow: 1;
    justify-content: center;
}

.login {
    justify-content: flex-end;
}

.search {
    appearance: none;
    box-sizing: border-box;
    color: #4b587c;
    height: 32px;
    padding: 0 20px 0 40px;
    width: 100%;
    max-width: 220px;
    background-color: #f5f8ff;
    border-radius: 100px;
    border: 1px solid #ddd;
    outline: none;
    margin-left: 20px;
}

.search-bar {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 20px;
}

.search-bar input {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.search-bar button {
    padding: 8px 16px;
    background-color: #ff6154;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #ff4a3a;
}

.logout-button{
    margin: 0;
}
